service: mpc-express-serverless
frameworkVersion: '3'

custom:
  tableName: 'users-table-${sls:stage}'

provider:
  name: aws
  httpApi:
    disableDefaultEndpoint: true
  ecr:
    images:
      baseimage:
        path: ./
        platform: linux/amd64
  region: ap-south-1
  deploymentMethod: direct
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [ UsersTable, Arn ]
  environment:
    USERS_TABLE: ${self:custom.tableName}

functions:
  api:
    image: 
      name: baseimage
      command:
        - npm
        - run
        - start-party2
    events:
      - httpApi:
          method: '*'
          path: /party2
    environment:
      P1_ENDPOINT: https://l.boom.fan/party1
  rust_api:
    image:
      name: baseimage
      command:
      - npm
      - run
      - start-party1
    events:
      - httpApi:
          method: '*'
          path: /party1

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.tableName}
