service: mpc-party2-serverless
frameworkVersion: "3"

custom:
  tableName: "${sls:stage}_Party1MasterKey"
  customDomain:
    domainName: p2.boom.fan
    certificateName: '*.boom.fan'
    createRoute53Record: true
    createRoute53IPv6Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2
    apiType: http
    autoDomain: true

plugins:
  - serverless-domain-manager

provider:
  name: aws
  httpApi:
    disableDefaultEndpoint: true
  ecr:
    images:
      party2_server:
        path: ./
        platform: linux/amd64
  region: ap-south-1
  deploymentMethod: direct
  # iam:
  #   role:
  #     statements:
  #       - Effect: Allow
  #         Action:
  #           - dynamodb:Query
  #           - dynamodb:Scan
  #           - dynamodb:GetItem
  #           - dynamodb:PutItem
  #           - dynamodb:UpdateItem
  #           - dynamodb:DeleteItem
  #         Resource:
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-KeyGenFirstMsg"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CommWitness"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EcKeyPair"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PaillierKeyPair"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party1Private"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party2Public"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PDLProver"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PDLDecommit"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Alpha"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party2PDLFirstMsg"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCKeyGenFirstMsg"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCCommWitness"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCEcKeyPair"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CC"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EphEcKeyPair"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EphKeyGenFirstMsg"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-POS"
  #           - "arn:aws:dynamodb:*:*:table/${sls:stage}_Party1MasterKey"
  environment:
    USERS_TABLE: ${self:custom.tableName}

functions:
  api:
    image:
      name: party2_server
      command:
        - npm
        - run
        - start-party2
    events:
      - httpApi: '*'
    environment:
      P1_ENDPOINT: https://p1.boom.fan/