service: mpc-express-serverless
frameworkVersion: "3"

custom:
  tableName: "${sls:stage}_Party1MasterKey"

provider:
  name: aws
  httpApi:
    disableDefaultEndpoint: true
  ecr:
    images:
      baseimage:
        path: ./
        platform: linux/amd64
  region: ap-south-1
  deploymentMethod: direct
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-KeyGenFirstMsg"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CommWitness"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EcKeyPair"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PaillierKeyPair"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party1Private"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party2Public"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PDLProver"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-PDLDecommit"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Alpha"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-Party2PDLFirstMsg"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCKeyGenFirstMsg"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCCommWitness"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CCEcKeyPair"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-CC"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EphEcKeyPair"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-EphKeyGenFirstMsg"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}-gotham-POS"
            - "arn:aws:dynamodb:*:*:table/${sls:stage}_Party1MasterKey"
  environment:
    USERS_TABLE: ${self:custom.tableName}

functions:
  api:
    image:
      name: baseimage
      command:
        - npm
        - run
        - start-party2
    events:
      - httpApi:
          method: "*"
          path: /party2/health
      - httpApi:
          method: "*"
          path: /party2
    environment:
      P1_ENDPOINT: https://l.boom.fan/party1
      OPENSSL_STATIC: yes
      OPENSSL_LIB_DIR: /etc/pki/tls
  rust_api:
    image:
      name: baseimage
      command:
        - npm
        - run
        - start-party1
    events:
      - httpApi:
          method: "*"
          path: /party1/ping
    environment:
      OPENSSL_STATIC: yes
      OPENSSL_LIB_DIR: /etc/pki/tls

resources:
  Resources:
    KeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-KeyGenFirstMsg"

    CommWitness:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-CommWitness"

    EcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-EcKeyPair"

    PaillierKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-PaillierKeyPair"

    Party1Private:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-Party1Private"

    Party2Public:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-Party2Public"

    PDLProver:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-PDLProver"

    PDLDecommit:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-PDLDecommit"

    Alpha:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-Alpha"

    Party2PDLFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-Party2PDLFirstMsg"

    CCKeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-CCKeyGenFirstMsg"

    CCCommWitness:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-CCCommWitness"

    CCEcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-CCEcKeyPair"

    CC:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-CC"

    EphEcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-EphEcKeyPair"

    EphKeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-EphKeyGenFirstMsg"

    POS:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}-gotham-POS"

    Party1MasterKey:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: customerId
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: customerId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        TableName: "${sls:stage}_Party1MasterKey"
