service: mpc-express-serverless
frameworkVersion: '3'

custom:
  tableName: '${sls:stage}_Party1MasterKey'

provider:
  name: aws
  httpApi:
    disableDefaultEndpoint: true
  ecr:
    images:
      baseimage:
        path: ./
        platform: linux/amd64
  region: ap-south-1
  deploymentMethod: direct
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [ UsersTable, Arn ]
  environment:
    USERS_TABLE: ${self:custom.tableName}

functions:
  api:
    image: 
      name: baseimage
      command:
        - npm
        - run
        - start-party2
    events:
      - httpApi:
          method: '*'
          path: /party2
    environment:
      P1_ENDPOINT: https://l.boom.fan/party1
  rust_api:
    image:
      name: baseimage
      command:
      - npm
      - run
      - start-party1
    events:
      - httpApi:
          method: '*'
          path: /party1

resources:
  Resources:
    KeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-KeyGenFirstMsg'
    
    CommWitness:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-CommWitness'
    
    EcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-EcKeyPair'
    
    PaillierKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-PaillierKeyPair'
    
    Party1Private:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-Party1Private'
    
    Party2Public:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-Party2Public'
    
    PDLProver:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-PDLProver'
    
    PDLDecommit:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-PDLDecommit'
    
    Alpha:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-Alpha'
    
    Party2PDLFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-Party2PDLFirstMsg'
    
    CCKeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-CCKeyGenFirstMsg'
    
    CCCommWitness:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-CCCommWitness'
    
    CCEcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-CCEcKeyPair'
    
    CC:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-CC'
    
    EphEcKeyPair:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-EphEcKeyPair'
    
    EphKeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-EphKeyGenFirstMsg'
    
    EphKeyGenFirstMsg:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-EphKeyGenFirstMsg'
    
    POS:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}-gotham-POS'
    
    Party1MasterKey:
      Type: AWS::DynamoDB::Table
      Properties:
        KeySchema:
          - AttributeName: customerId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: '${sls:stage}_Party1MasterKey'
